* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-height-1 {
  height: 380px;
  max-height: 100%;
  border: 1px solid turquoise;
}

.container-height-2 {
  height: 214px;
  max-height: 100%;
}

.container-height-3 {
  height: 107px;
  max-height: 100%;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear: both;
}

.darkgray {
  background: darkgray;
}
.lightgray {
  background: lightgray;
}

[class*="col-"]{
  float: left;
  padding: 2%;
}

.col-4 {
  width: 32.3333%;
  margin: 0.3333%;
}

.col-12 {
  width: 99%;
  margin: 0.5%;
}
