* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-height-1 {
  height: 380px;
  max-height: 100%;
  border: 1px solid turquoise;
}

.container-height-2 {
  height: 214px;
  max-height: 100%;
}

.container-height-3 {
  height: 107px;
  max-height: 100%;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear: both;
}

.darkgray {
  background: darkgray;
}
.lightgray {
  background: lightgray;
}
.white {
  background: white;
}

[class*="col-"]{
  float: left;
  padding: 1%;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333%;
}

.col-8 {
  width: 66.6666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.6666%;
}

.col-12 {
  width: 100%;
}
